{% extends "_layout.html" %}
{% block title %}Carrito{% endblock %}

{% block content %}
<div class="container small">
  <h1>Tu carrito</h1>

  <ul class="list">
    {% for p in cart %}
      <li>
        <div>
          <strong>{{ p.name }}</strong><br>
          <small>⏳ Duración: {{ p.duration }}</small>
        </div>
        <span>S/ {{ '%.2f' % (p.price / 100) }}</span>
      </li>
    {% else %}
      <li>No hay productos aún.</li>
    {% endfor %}
  </ul>


  <div class="summary">
    <div>Total</div>
    <div><b>S/ {{ '%.2f' % ((cart | sum(attribute='price')) / 100) }}</b></div>
  </div>

  <div class="actions">
    <a class="btn" href="{{ url_for('shop') }}">Seguir comprando</a>
    <a class="btn" href="{{ url_for('clear_cart') }}">Vaciar</a>
    <a class="btn primary" href="{{ url_for('checkout') }}">Ir a pagar</a>
  </div>
</div>
{% endblock %}
